##########################################################
# This is an ANSIBLE managed file!!
# Local edits will eventually be overwritten
##########################################################
{% for pkg in lock_packages %}
{{ pkg.epoch }}:{{ pkg.name }}-{{ pkg.version }}.*
{% endfor %}